<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% load crispy_forms_tags %}
  <h1 style="text-align:center">Reset Password</h1>
  <hr>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">
        ×
        </button>
        <strong>{{message}}<strong>
      </div>
  {% endfor %}
  {% endif %}
<div class="container py-5" style="justify-content: center;display:flex;align-items: center;">
  

  <form method="POST">
    {% csrf_token %}
    {{ reset_form|crispy }}
    <br><button class="btn btn-primary" type="submit">Reset</button>
  </form>
  
</div>
<br><p class="text-center"><a href="/login">Login Here</a>.</p>

</body>
</html>